public
extern
**/_build
**/__pycache__
.vscode
.hugo_build.lock
.DS_Store
content/grewpy/ud-treebanks-v2.16
content/grewpy/SUD_English-PUD
content/grewpy/images
content/grewpy/grewpy
static/usage/cli/data
