<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">Graph Rewriting for NLP</p>
    </div>
    
    <ul class="sidebar-nav">
      <li><a href="/whats_new/">What's new</a></li>
      
      <li class="section">Try Grew online</li>
      <li><a href="https://match.grew.fr">Grew-match (Online Matching)</a></li>
      <li><a href="https://web.grew.fr">Grew-web (Online Rewriting)</a></li>
      <li><a href="https://arborator.github.io/">Arborator-Grew</a></li>
      
      <li class="section">Use Grew</li>
      <li><a href="/usage/install/">Install & Upgrade</a>
        <li><a href="/usage/cli/">Command Line Interface</a></li>
        <li><a href="/usage/python/">Python library</a></li>
        <li><a href="/tutorial/top/">⭐ Grew Tutorial</a></li>
        <li><a href="/grewpy/tutorial/">⭐ Grewpy Tutorial</a></li>
        <li></li>
        
        <li class="section">Documentation</li>
        <li><a href="/doc/graph/">Graph</a></li>
        <li><a href="/doc/request/">Request</a> • <a href="/doc/clustering/">Clustering</a></li>
        <li><a href="/doc/commands/">Command</a></li>
        <li><a href="/doc/rule/">Rule</a> • <a href="/doc/rule_gallery/">Rule Gallery</a></li>
        <li><a href="/doc/grs/">GRS</a> • <a href="/gallery/top/">GRS Gallery</a></li>
        <li><a href="/doc/rewriting/">Rewriting</a></li>

        <li class="section">Code repositories</li>
        <li><a href="https://github.com/grew-nlp/grewlib">grewlib (Ocaml library)</a></li>
        <li><a href="https://gitlab.inria.fr/grew/grew">grew (CLI)</a></li>
        <li>More on <a href="https://github.com/grew-nlp">github</a>/<a href="https://gitlab.inria.fr/grew">gitlab</a></li>
      </ul>
  </div>
  <div class="logo" style="background-color:white">
    <table style="border:0px">
      <tr>
        <td style="border:0px; background-color:white"><a href="https://www.inria.fr/en"><img src="{{ .Site.BaseURL }}logo/inria.jpg" alt="Inria"></a></td>
        <td style="border:0px; background-color:white"><a href="https://www.loria.fr/en/"><img src="{{ .Site.BaseURL }}logo/loria.png" alt="Loria"></a></td>
      </tr>
    </table>
    <div style="color:black; text-align: center;">
      Funded by <a href="http://lchn.fr" style="color:black;">CPER LCHN</a>
    </div>

    <table style="border:0px">
      <tr>
        <td style="border:0px; background-color:white"><a href="https://www.enseignementsup-recherche.gouv.fr/fr"><img height="80" src="{{ .Site.BaseURL }}logo/etat.gif" alt="ministère de la recherche"></a></td>
        <td style="border:0px; background-color:white"><a href="https://www.grandest.fr/"><img width="120" src="{{ .Site.BaseURL }}logo/Region.jpeg" alt="Région Grand-Est"></a></td>
        <td style="border:0px; background-color:white"><a href="https://beeurope.grandest.fr/"><img height="80" src="{{ .Site.BaseURL }}logo/feder.jpeg" alt="Feder"></a></td>
      </tr>
    </table>
  </div>
</div>
