<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">Graph Rewriting for NLP</p>
    </div>

    <ul class="sidebar-nav">

      <hr/>
      <li class="section">Try Grew online</li>
      <li><a href="http://grew.loria.fr/demo">Online graph matching</a></li>
      <li><a href="http://talc2.loria.fr/grew_demo/">Online parsing</a></li>

      <hr/>
      <li class="section">Use Grew</li>
      <li><a href="/installation">Installation</a></li>
      <li><a href="/todo">Run Grew</a></li>

      <hr/>
      <li class="section">Available GRS</li>
      <li><a href="/todo">Dependency parsing</a></li>
      <li><a href="/todo">Deep syntax</a></li>
      <li><a href="/todo">DMRS</a></li>
      <li><a href="/todo">Other GRS</a></li>

      <hr/>
      <li class="section">GRS development</li>
      <li><a href="/todo">Matching syntax</a></li>
      <li><a href="/todo">Commands syntax</a></li>
      <li><a href="/todo">Rule syntax</a></li>
      <li><a href="/todo">GRS syntax</a></li>
    </ul>

  </div>
</div>
