( (SENT (PP-MOD (P En) (NP (NC 1953))) (PONCT ,) (NP-SUJ (DET les) (ADJ hauts) (NC fourneaux) (COORD (CC et) (NP (NC fonderies) (PP (P de) (NP (NPP Cousances)))))) (VN (V virent)) (NP-OBJ (DET le) (NC jour)) (PONCT ,) (COORD (CC puis) (Sint (NP-SUJ (NPP Jean) (NPP Baudesson) (PONCT ,) (NP-MOD (NC maire) (NC échevin) (PP (P de) (NP (NPP Saint-Dizier)))) (PONCT ,) (VPpart (VPP autorisé) (PP-MOD (P par) (NP (NC lettres) (AP (ADJ patentes)) (PP (P d') (NP (NPP Henri) (AP (ADJ IV)))))))) (PONCT ,) (VN (V installa)) (PP-P_OBJ (P à) (NP (NPP Marnaval) (PONCT -) (Srel (NP-SUJ (PROREL qui)) (VN (V signifiait)) (NP-OBJ (NC val) (COORD (CC ou) (NP (NC vallée))) (PP (P de) (NP (DET la) (NPP Marne))) (COORD (CC ou_bien) (PP (P en) (NP (NC aval) (PP (P de) (NP (DET la) (NPP Marne)))))))) (PONCT -))) (PONCT ,) (NP-OBJ (DET une) (NC forge) (Srel (NP-SUJ (PROREL qui)) (VN (V connut)) (NP-OBJ (DET son) (NC apogée)) (PP-MOD (P+D au) (NP (ADJ XIXe) (NC siècle))))))) (PONCT .)))

